
.place__title {
    grid-area: title;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 72px;
    line-height: 65px;
    color: white;
    max-width: 457px;
    margin: 0px;
}


@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;

    }
}


@media screen and (max-width: 768px) {
    .place__title {
        max-width: 300px;
        font-size: 42px;
        line-height: 46px;
    }
}


@media screen and (max-width: 375px) {
    .place__title {
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
    }
}