/*
* {
    border: 1px solid cyan;
}
*/

.page {
    font-family: 'Inter' , Arial , sans-serif;
    background: #2A2C2F;
    max-width: 1440px;
    margin: 0 auto;
}


@media screen and (max-width: 1280px) {
    .page {
        max-width: 1280px;

    }
}


@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;

    }
}


@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;

    }
}


@media screen and (max-width: 375px) {
    .page {
        max-width: 375px;

    }
}


@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;

    }
}