@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    max-width: 1184px;
    margin: 102px auto 0;
    grid-gap: 15px;
}
