@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-auto-flow: row;
    grid-auto-rows: minmax(min-content, max-content);
    max-width: 1184px;
    margin: 102px auto 0;
    grid-gap: 16px;
}



@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        grid-gap: 14px;
        max-width: 928px;
        justify-content: center;
    }
}


@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-gap: 16px;
        max-width: 720px;
        justify-content: center;
        margin-top: 97px;
    }
}


@media screen and (max-width: 375px) {
    .photo-grid {
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        grid-auto-flow: row;
        grid-auto-rows: minmax(min-content, max-content);
        grid-gap: 16px;
        max-width: 343px;
        justify-content: center;
        margin-top: 64px;
    }
}