
.cover__bg {
    background-image: url(../../../images/cover-bg_image.png);
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: linear all .3s;
}


.cover__bg::before {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: .5;
    top:0;
    left:0;
    position: absolute;
    content: '';
    transition: linear all .3s;
}

.cover__bg:hover::before {
    opacity: .7;
    transition: linear all .3s;

}


@media screen and (max-width: 1024px) {
    .cover__bg {
        background-position: center;
        background-size: cover;
    }
}
