
.comment__quote {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
    max-width: 382px;
    margin-top: 42px;
    margin-bottom: 0px;
}


@media screen and (max-width: 1024px) {
    .comment__quote {
        margin-top: 40px;
        max-width: 296px;

    }
}


@media screen and (max-width: 768px) {
    .comment__quote {
        margin-top: 24px;
        max-width: 382px;
        font-size: 16px;
        line-height: 24px;
        order:2;
        

    }
}


@media screen and (max-width: 375px) {
    .comment__quote {
        line-height: 23px;
        max-width: 343px;
    }
}


@media screen and (max-width: 320px) {
    .comment__quote {
        max-width: 288px;
    }
}