* {
    border: 1px solid cyan;
}

.page {
    font-family: 'Inter' , Arial , sans-serif;
    background: #2A2C2F;
    max-width: 1440px;
}

.content {

}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 985px;
    margin: auto;
}

.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0;
    color: white;
    max-width: 782px;
}

.lead__subtitle {
    font-family: 'Inter';    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0;
    color: white;
    max-width: 583px;
}

.lead__image {
    margin-top: 78px;
    margin-bottom: 0;
}

.lead__caption {
    font-style: normal;
    max-width: 636px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
    align-self: baseline;
}

.intro {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
    "title"
    "content-row"
    "text";
    max-width: 683px;
    margin-left: 227px; 
    margin-top: 80px;
}

.intro__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 54px;
    line-height: 59px;
    color: white;
    margin: 0;
    max-width: 683px;
    grid-area: title;
}

.intro__content-row {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-top: 48px;
    margin-bottom: 24px;
    max-width: 683px;
    grid-area: content-row;
}

.intro__text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: white;
    margin: 0px;
    max-width: 383px;
    grid-area: text;
    list-style: none;
    padding-left: 0;
}

.intro__text_normal {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: white;
    margin: 0px;
    grid-area: text;  
}

.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    max-width: 1184px;
    margin: 102px 128px 0;
    grid-gap: 15px;
}

.photo-grid_item {
    
}

.places {
    margin: 20px auto 0;
    max-width: 984px;
}

.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));   
    grid-gap: 60px 40px;
    grid-template-areas:
    "title url"
    "image website"
    "image paragraph";
    margin: 72px auto 0;
}

.place__title {
    grid-area: title;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 72px;
    line-height: 65px;
    color: white;
    max-width: 457px;
    margin: 0px;
}

.place__image {
    grid-area: image;
}

.place_list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    align-self: end;
}

.place__url {
    grid-area: url;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;

}

.place__website {
    grid-area: website;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: linear all .3s;
}


.place__website:hover {
    opacity: .5;
    transition: linear all .3s;
}


.place__paragraph {
    grid-area: paragraph;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 484px;
    margin-top: 0;
    margin-bottom: 36px;
}

.video {
    max-width: 1184px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    max-width: 800px;
    margin: 0;
}

.content-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    max-width: 640px;
    margin: 48px auto 72px;
}

.video__container {
    display: flex;
    flex-direction: row;
}

.video__item {
  /*  width: calc((100% - 18px)/2); */
    width: 583px;
    height: 323px;
    margin-right: 18px;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.video__item:last-of-type {
    margin-right: 0;
}
*/

.video__item:hover .video__icon_play { 
    transform: scale(1.3 , 1.3); /*кустарно, но пока что все на очень ранней стадии :) */
    transition: ease-in all .3s;
}

.video__item .video__icon_play { 
    transition: ease-in all .3s;
}

.video__icon_play {
    position: absolute;
    top: 30px;
    left: 30px;
}

.video__duration {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    max-width: 44px;
    color: #FFFFFF;
    margin: 165px auto 12px 30px;
    text-decoration: none;
    z-index: 1;
}

.video__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 36px;
    line-height: 39px;
    max-width: 322px;    
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 auto 18px 30px;
    z-index: 1;
}

.video__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    max-width: 285px;  
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 auto 30px 30px;
    z-index: 1;
}

.video__item_bg_kamchatka {
    background-image: url(./images/Rect_1.png);
    border-radius: 5px;

}

.video__item_bg_observatory {
    background-image: url(./images/Rect_2.png);
    border-radius: 5px;
}

.video__item_bg_observatory:last-of-type {
    margin-right: 0; 

}

.video__item::before {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: .5;
    top:0;
    left:0;
    position: absolute;
    content: '';
    transition: linear all .3s;
}

.video__item:hover::before {
    opacity: .3;
    transition: linear all .3s;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 102px auto 0;
    max-width: 1184px;
}

.comments__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
}

.comment {
    max-width: 382px;
}

.comment__quote {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
    max-width: 382px;
    margin-top: 42px;
}

.comment__author {
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 24px;
    color: white;
    max-width: 382px;
}

.cover {
    margin: 102px auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover_bg {
    background-image: url(./images/cover-bg_image.png);
    width: 1184px;
    height: 594px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: linear all .3s;
}

.cover__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: white;
    max-width: 1094px;
    margin: 274px auto 0;
    position: relative;
    z-index: 1;

}

.cover__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: white;
    max-width: 382px;
    margin: 134px auto 48px;
    position: relative;
    z-index: 1;

}


.cover_bg::before {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: .5;
    top:0;
    left:0;
    position: absolute;
    content: '';
    transition: linear all .3s;
}

.cover_bg:hover::before {
    opacity: .7;
    transition: linear all .3s;
    transform: scale(1.05);

}


.footer {
    display: flex;
    flex-direction: row;
    margin: 170px auto 0;
    max-width: 1184px;
    justify-content: flex-end;
    
}

.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    transition: linear all .3s;
}

.footer__link:hover {
    opacity: .5;
    transition: linear all .3s;
}    

.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    max-width: 282px;
    margin-left: 370px;

}