
.place__image {
    grid-area: image;
    /*max-width: 100%;
    max-height: 100%;
    object-fit: cover;*/
}


@media screen and (max-width: 1024px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}


@media screen and (max-width: 768px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}

@media screen and (max-width: 600px) {
    .place__image {
        width: 100%;
        height: auto;
        margin-top: 32px;
        background-position: center;
        background-size: cover;
        object-fit: none;
    }
}
