
.comment__author {
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 24px;
    color: white;
    max-width: 382px;
    margin: 24px 0 0;
}


@media screen and (max-width: 1024px) {
    .comment__author {
        max-width: 296px;
        margin: 16px 0 0;
    }
}


@media screen and (max-width: 786px) {
    .comment__author {
        order:1
    }
}


@media screen and (max-width: 320px) {
    .comment__author {
        max-width: 288px;
    }
}
