
.comments__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media screen and (max-width: 1024px) {
    .comments__container {
        max-width: 925px;
    }
}


@media screen and (max-width: 768px) {
    .comments__container {
        max-width: 660px;
        flex-direction: column;
        align-items: center;
        margin-top: 68px;
    }
}


@media screen and (max-width: 375px) {
    .comments__container {
        max-width: 343px;
        margin-top: 48px;
    }
}


@media screen and (max-width: 320px) {
    .comments__container {
        max-width: 320px;
    }
}