@import url(../lead/__title/lead__title.css);
@import url(../lead/__subtitle/lead__subtitle.css);
@import url(../lead/__image/lead__image.css);
@import url(../lead/__caption/lead__caption.css);


.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 985px;
    margin: 86px auto 0;
}


@media screen and (max-width: 1280px) {
    .lead {
        margin-top: 48px;
    }
}

@media screen and (max-width: 1024px ) {
    .lead {
        max-width: 928px;
        
    }
}