@import url(./__container/video__container.css);
@import url(./__item/_bg/_kamchatka/video__item_bg_kamchatka.css);
@import url(./__item/_bg/_observatory/video__item_bg_observatory.css);
@import url(./__item/video__item.css);
@import url(./__icon/_play/video__icon_play.css);
@import url(./__duration/video__duration.css);
@import url(./__title/video__title.css);
@import url(./__subtitle/video__subtitle.css);

.video {
    max-width: 1184px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
