
.intro__numbers {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: white;
    margin: 0px;
    grid-area: text;  
}


@media screen and (max-width: 375px) {
    .intro__numbers {
        font-size: 12px;
        line-height: 19px;
    }
}