
.photo-grid__item {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .photo-grid__item {
        width: 300px;
        height: 200px;
    }
}


@media screen and (max-width: 768px) {
    .photo-grid__item {
        width: 352px;
        height: 234px;
    }
}


@media screen and (max-width: 375px) {
    .photo-grid__item {
        width: 343px;
        height: 232px;
    }
}