@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_active/header__lang_active.css);

.header {
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content;
    grid-template-areas: "logo . lang lang-en";
    justify-content: space-between;
    align-items: center;
    max-height: 52px;
    max-width: 1184px;
    margin-top: 30px;
    margin-left: 128px;
    margin-right: 128px;
    
}


@media screen and (max-width: 1280px) {
    .header {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        margin-left: 28px;
        margin-right: 28px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin-left: 24px;
        margin-right: 24px;
        max-width: 928px;
    }
}


@media screen and (max-width: 375px) {
    .header {
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
        max-width: 343px;
    }
}


@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
    }
}