@import url(../__item/_bg/video__item_bg_kamchatka.css);
@import url(../__item/_bg/video__item_bg_observatory.css);


.video__item {
    /*  width: calc((100% - 18px)/2); */
      width: 583px;
      height: 323px;
      margin-right: 18px;
      position: relative;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  /*.video__item:last-of-type {
      margin-right: 0;
  }
  */
  
  .video__item:hover .video__icon_play { 
      transform: scale(1.3 , 1.3); /*кустарно, но пока что все на очень ранней стадии :) */
      transition: ease-in all .3s;
  }
  
  .video__item .video__icon_play { 
      transition: ease-in all .3s;
  }

  .video__item::before {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: .5;
    top:0;
    left:0;
    position: absolute;
    content: '';
    transition: linear all .3s;
}

.video__item:hover::before {
    opacity: .3;
    transition: linear all .3s;
}
  


@media screen and (max-width: 1024px) {
    .video__item {
        width: 456px;
        height: 288px;
        margin-right: 16px;
        background-position: center;
        background-size: cover;
    }
}