
.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    transition: linear all .3s;
}

.footer__link:hover {
    opacity: .5;
    transition: linear all .3s;
}    


@media screen and (max-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}


@media screen and (max-width: 375px) {
    .footer__link {
        margin-bottom: 32px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 24px;
        line-height: 24px;
    }
}