
.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    margin: 0 auto;
    color: white;
    max-width: 782px;
}
