
.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    margin: 0 auto;
    color: white;
    max-width: 782px;
}

@media screen and (max-width: 1024px ) {
    .lead__title {
        max-width: 928px;
        
    }
}


@media screen and (max-width: 768px ) {
    .lead__title {
        max-width: 720px;
        
    }
}


@media screen and (max-width: 375px ) {
    .lead__title {
        max-width: 300px;
        font-size: 40px;
        line-height: 44px;
        
    }
}


@media screen and (max-width: 320px ) {
    .lead__title {
        max-width: 288px;
        
    }
}
