
.video__duration {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    max-width: 44px;
    color: #FFFFFF;
    margin: 165px auto 12px 30px;
    text-decoration: none;
    z-index: 1;
}


@media screen and (max-width: 1024px) {
    .video__duration {
        margin: 125px auto 12px 30px;
    }
}