
.place__paragraph {
    grid-area: paragraph;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 484px;
    margin-top: 0;
    margin-bottom: 36px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}


@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 24px;
    }
}


@media screen and (max-width: 375px) {
    .place__paragraph {
        max-width: 343px;
    }
}