
.video__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    max-width: 322px;    
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 auto 18px 30px;
    z-index: 1;
}


@media screen and (max-width: 768px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
        max-width: 288px; 
        margin: 0 auto 12px 24px;
    }
}


@media screen and (max-width: 450px) {
    .video__title {
        max-width: 295px; 

    }
}


@media screen and (max-width: 320px) {
    .video__title {
        max-width: 256px; 

    }
}
