@import url(./__title/intro__title.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text/_normal/intro__text_normal.css);
@import url(./__text/intro__text.css);



.intro {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
    "title"
    "content-row"
    "text";
    max-width: 683px;
    margin-left: 227px; 
    margin-top: 42px;
}

@media screen and (max-width: 1280px) {
    .intro {
        margin-top: 80px;
        margin-left: 148px;
    }
}


@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
        margin-left: 35px; /* в макете указано 48рх но при выставлении данного маргина блоки - lead intro photo-grid - идут не в одну линию ¯ \ _ (ツ) _ / ¯ */
    }
}


@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto; 
    }
}

