@import url(../cover/__bg/cover__bg.css);
@import url(../cover/__title/cover__title.css);
@import url(../cover/__subtitle/cover__subtitle.css);

.cover {
    margin: 102px auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px; /* в макете максимальная ширина блока почему-то 1045рх - и кусок изображения скрыт и сдвинут. сделал так, смотрится цельно. если нужно исправлю как в макете. 
        overflow: hidden; */
    }
}


@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px; 
    }
}

@media screen and (max-width: 375px) {
    .cover {
        max-width: 375px; 
        margin-top: 48px;
    }
}


@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px; 
        margin-top: 64px;
    }
}