
.video__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    max-width: 285px;  
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 auto 30px 30px;
    z-index: 1;
}


@media screen and (max-width: 768px) {
    .video__subtitle {
        margin: 0 auto 12px 24px;
    }
}


@media screen and (max-width: 375px) {
    .video__subtitle {
        max-width: 295px; 

    }
}


@media screen and (max-width: 320px) {
    .video__subtitle {
        max-width: 256px; 

    }
}
