
.cover__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: white;
    max-width: 1094px;
    margin: 274px auto 0;
    position: relative;
    z-index: 1;

}

@media screen and (max-width: 1024px) {
    .cover__title {
        max-width: 500px; 
        margin: 209px auto 0;
    }
}


@media screen and (max-width: 768px) {
    .cover__title {
        max-width: 550px; 
        margin: 165px auto 0;
    }
}


@media screen and (max-width: 375px) {
    .cover__title {
        max-width: 250px; 
        margin: 104px auto 0;
        font-size: 32px;
        line-height: 35px;

    }
}



@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 250px; 
        margin: 64px auto 0;
        font-size: 32px;
        line-height: 35px;

    }
}