@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__paragraph.css);


.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));   
    grid-gap: 60px 40px;
    grid-template-areas:
    "title url-heading"
    "image website"
    "image paragraph";
    margin: 0px auto 72px;
}

.place:last-of-type {
    margin-bottom: 0;
}


@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 40px 32px;
    }
}


@media screen and (max-width: 768px) {
    .place {
        grid-gap: 40px 28px;
    }
}


@media screen and (max-width: 375px) {
    .place {
        grid-gap: 0;
        grid-template-rows: repeat(3, minmax(min-content, max-content));   
        grid-template-columns: minmax(min-content, max-content); 
        grid-template-areas:
        "title"
        "image"
        "paragraph";       
    }
}