.comment__image {
    width: 97px;
    height: 97px;
    border-radius: 50%;
}

/*
@media screen and (max-width: 768px) {
    .comment__image {

        
    }
}
*/

@media screen and (max-width: 320px) {
    .comment__image {
        width: 96px;
        height: 96px;
    }
}