@import url(../footer/__nav/footer__nav.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css);

.footer {
    display: flex;
    flex-direction: row;
    margin: 160px auto 42px;
    max-width: 1184px;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 1024px) {
    .footer {
        max-width: 929px; 
    }
}


@media screen and (max-width: 768px) {
    .footer {
        max-width: 722px; 
        margin: 102px 23px 24px;
    }
}


@media screen and (max-width: 768px) {
    .footer {
        max-width: 722px; 
        margin: 102px 23px 24px;
    }
}


@media screen and (max-width: 375px) {
    .footer {
        flex-direction: column;
        max-width: 282px; 
        margin: 64px auto 24px 16px;
        align-items: baseline;
    }
}