@import url(../footer/__nav/footer__nav.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css);

.footer {
    display: flex;
    flex-direction: row;
    margin: 170px auto 42px;
    max-width: 1184px;
    justify-content: space-between;
    
}


@media screen and (max-width: 1024px) {
    .footer {
        max-width: 929px; 
        margin-top: 164px;
    }
}