
.place__url {
    grid-area: website;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: linear all .3s;
}


.place__url:hover {
    opacity: .5;
    transition: linear all .3s;
}



@media screen and (max-width: 375px) {
    .place__url {
        display: none;
    }
}