
.place__website {
    grid-area: website;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: linear all .3s;
}


.place__website:hover {
    opacity: .5;
    transition: linear all .3s;
}
